<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
  <%# <% @users.each do |user| %1> %>
  <%#   <%= user.name %1> %>
  <%# <% end %1> %>
  <%# <% @comments.each do |user| %1> %>
  <%#   <%= user.name %1> %>
  <%# <% end %1> %>
  <%# <% @adverts.each do |user| %1> %>
  <%#   <%= user.name %1> %>
  <%# <% end %1> %>
</div>

<%= link_to "New post", new_post_path %>
